*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}
:root {
    
    --color-black:                 #000;

    --color-white:                 #fff;

    --color--red:                  #E40000;  

    /* Border radius */
    --border-min:                    20px;
    --border-max:                    40px;

    /* ### Fuente */

    --font-primary:                  "Quicksand";
    --font-secondary:                "Open Sans";

    --font-max:                      48px;
    --font__min:                     24px;
}
.body{
    background-color: var(--color-black);
}
.header{
    display: flex;
width: 1440px;
padding: 40px 67px 50px 67px;
justify-content: center;
align-items: center;
display: flex;
justify-content: space-between;
align-items: center;
align-self: stretch;
}
.header__logo {
    width: 111px;
    height: 137px;
    stroke-width: 1px;
    stroke: var(--color--red);
}
.nav {
    display: flex;
    align-items: flex-start;
    gap: 35px;
}
.nav__works {
    width: 100px;
    height: 41px;
    color: var(--color-white);
    font-family: var(--font-secondary);
    font-size: var(--font__min);
    font-style: normal;
    font-weight: 300;
    line-height: normal;
}
.nav__aboutme {
    width: 97px;
    height: 41px;
    color: var(--color-white);
    font-family: var(--font-secondary);
    font-size: var(--font__min);
    font-style: normal;
    font-weight: 300;
    line-height: normal;
}
.nav__contactme {
    width: 141px;
    height: 41px;
    color: var(--color-white);
    font-family: var(--font-secondary);
    font-size: var(--font__min);
    font-style: normal;
    font-weight: 300;
    line-height: normal;
}
.hero{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 225px;
    align-self: stretch;
    margin-bottom: 145px;
    margin-top: 122px;
}
.hero__text{
    align-self: stretch;
    color: var(--color-white);
text-align: center;
font-family: var(--font-primary);
font-size: var(--font-max);
font-style: normal;
font-weight: 400;
line-height: normal;
}
.hero__img{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 81px;
}
.img__bear{
    width: 497px;
    height: 497px;
    border-radius: var(--border-min);
}